.chore-wrapper {
  position: relative;
}
 .left-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}
 .right-image {
  position: absolute;
  top: 0;
  right: 0;
}
 .container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #FFC09F;
}
 .form-group {
  margin-bottom: 15px;
}
 .label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #fff;
}
 .input,
.textarea {
  width: 100%;
  padding: 10px;




  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}
 .textarea {
  height: 100px;
  resize: vertical;
  align-items: center;
}
 .button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #79ADDC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 .button:hover {
  background-color: #0056b3;
}
.radio-group {
  margin-bottom: 15px;
}
 .radio-group label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 4px;
  color: #FFEE93;
}
 .radio-group input[type="radio"] {
  display: none;
}
 .radio-group input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
}

  